<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{#if title}}{{title}}{{else}}Emergency George!{{/if}}</title>
    <link rel="stylesheet" href="/css/core.css">
    <script>
      window._gaq = [['_setAccount', 'UA-33711406-1'], ['_trackPageview']];
      (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
      }(document, 'script'));
    </script>
</head>
<body>

{{{body}}}

<p class="license centered">
All photos are copyright <a href="http://www.flickr.com/photos/rar77/">Sarah Goer</a>. Click on a photo to visit its original source. This website is a fork of <a href="https://github.com/rgrove/emergencykitten/">Ryan Grove's code</a> for <a href="http://www.emergencykitten.com">EmergencyKitten.com</a>.<br>

Comments? I'm <a href="http://twitter.com/evangoer/">@evangoer</a> on Twitter. Complaints? Maybe you need <a href="/">another picture</a>. Or perhaps a <a href="http://www.emergencykitten.com">kitten</a>.
</p>

</body>
</html>
